@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
}
